###### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
-
/
 +
6

Values: ['hello',-87.8,6]
Expression: [*,-,/,+]

##### 2. What is the difference between string and variable?

String is a datatype for a finite collection/sequence of characters. A string has a finite length whose individual characters can be accessed using indexing.
Variable is kind of a holder which can be assigned values. The datatypes of these values which are assigned to variables can be str,int,bool etc.

Example:
    "Santasish" is a string which can be held in a variable called "name".
    Hence, the variable "name" holds a collection of characters("Santasish") which is string datatype.!

In [16]:
name="Santasish"
type(name)

str

##### 3. Describe three different data types.

string: str --> holds a sequence of characters with a finite length.

integer: int --> holds numeric values.

boolean: bool --> holds binary digits 1/0 only and returns as True/False.

##### 4. What is an expression made up of? What do all expressions do?

An expression is made up of a combination of operators and operands, which when interpreted, returns a value.
Expressions always returns a result value.

In [3]:
# Example of a mathematical expression 

a = 10         # expression 1
b = 20         # expression 2
c = a + b      # expression 3 // statement

print(c)

30

##### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

spam=10 ---> return a value which has a definite and unique meaning. 
Any statement that returns a value is qualified to be an expression.

Expression: spam=10 is a expression which assigns the value 10 to the variable name "spam" using the assignment operator '='

In [4]:
spam = 10                                   # Expression

Statement is when all individual expressions come together to form a group of expression which is designed to do a task.

In [8]:
bin = range(1,20,2)                          # Expression

newbin = [i for i in bin if i < spam ]       # Group of expression (Statement)

In [9]:
newbin                # Task completed of creating a list with the required data!

[1, 3, 5, 7, 9]

##### 6. After running the following code, what does the variable bacon contain?
bacon = 22 

bacon + 1

In [14]:
bacon = 22

bacon + 1

23

The variable bacon when added with +1, gives the output as 23. But,

In [15]:
bacon

22

The variable bacon still contains 22!

##### 7. What should the values of the following two terms be?
'spam' + 'spamspam'


'spam' * 3

In [12]:
'spam' + 'spamspam'

'spamspamspam'

In [13]:
'spam' * 3

'spamspamspam'

##### 8. Why is eggs a valid variable name while 100 is invalid?

# 
1. Variable_name in python must start with a letter or an underscore character. The variable name 100 is invalid because variable name in Python cannot start with a number.
2. Eggs is a valid variable name as it fulfills the criteria of starting with a letter and not being a reserve keyword in Python.

##### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [6]:
a=100
type(a)

int

In [8]:
float(a)

100.0

In [9]:
str(a)

'100'

In [11]:
type(int(str(a)))

int

##### 10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos.'

In [1]:
'I have eaten'+ 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

So there's a problem with concatenating string and integer.

In [3]:
'I have eaten'+' 99 '+'burritos'

'I have eaten 99 burritos'

We put the integer value within quotes to change it to a string so that string concatenation operation can be implemented successfully!